* {
	margin: 0;
	padding: 0;
    outline: 0;
    border:0;
    list-style: none;
    text-decoration: none;
	box-sizing: border-box;
}

.nav-bar{
    background-color: rgb(0, 0, 0, 0.25);
}
h2{
    color:  white    
}

.profile-img{
     filter: drop-shadow(3px 3px 0 white) 
          drop-shadow(-3px -3px 0 white);
}

.cv-icon{
    width: 2rem;
    margin-left: 1rem;
}
.img-container{
 background-color: rgb(0, 0, 0, 0.20);
}

.proj-card{
    background-color: rgb(0, 0, 0, 0.10) !important;
    padding: 1rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.proj-btn{
   position: absolute;
   bottom: 1rem ;
}
.proj-btn > a, .proj-btn > a:hover, .cv  {
    text-decoration: none !important;
    color: white
}

.projects{
    display: flex;
    justify-content: center;
}

.linked-logo, .fb-logo {
    width: 75px;
    height: auto;
}

#contact, #projects {
    margin-bottom: 2rem;
}

#contact > div > div > form > input , #contact > div > div > form > textarea {
    border-radius: 5px;
    padding-block: 0.5rem;
    padding-inline: 1rem;
}

#contact > div > div > form > label {
    padding-left: 0.5rem
}